<ul>
<%= form_for(@post) do |f| %>
<li><%= f.text_field :title, placeholder: "Title" %></li>
<li><%= f.text_area :description, placeholder: "Describe your meal" %> </li>
<li><%= f.file_field :avatar %></li>
<%= f.submit %>
<% end %>
</ul>