<!DOCTYPE html>
<html>
<head>
  <title>Masteringredient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= notice %>
<% if current_user %>
<%= "Welcome, #{current_user.email}" %>
<%= link_to "My Profile", edit_user_registration_path %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<%= link_to "Create New Master Ingredient", new_post_path %>
<%= link_to "Current Master Ingredients", posts_path %>
<% end %>

<%= yield %>

</body>
</html>
