<!DOCTYPE html>
<html>
<head>
  <title>Masteringredient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> 
        <a href="http://localhost:3000/" class="brand"> Master Ingredient </a>  
        <% if current_user %>
        <ul class="nav">       
        <li> <%= link_to "My Profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
        <% else %>
        <ul class="nav">        
          <li><%= link_to "Sign In", user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
</div>
<div class="container">
  <%= notice %>
  <%= link_to "Create New Master Ingredient", new_post_path, class: :btn %>
<%= yield %>
</div>
</body>
</html>
